<div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Contact</h1>
        <p class="lead">Marlon Falcón Hernandez</p>
        <p class="lead" class="mute">mfalconsofft@gmail.com</p>
        <p class="lead">+34 662 47 06 45</p>
  </div>
</div>