<div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">dashboard</h1>
        <p class="lead">We have different Odoo modules to improve various areas of the company.</p>
  </div>
</div>