<div class="carr-index">
  <div class="container">
      <h1 class="display-4">{{ title }} </h1>
      <p>We have differents <strong>Odoo ERP</strong> modules to improve various areas of the company, all day new Modules :).</p>
       <p class="lead">
      <a href="/store" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="color: #4D07E6;"> Explore the Store </a>
    </p>
  </div>
</div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Most downloaded</h1>
          <p class="lead">List of most downloaded modules</p>
          <div class="container">
          <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">sale_mass</a> / <a href="#">Sale</a>
                </h4>
                <h5>24.99 €</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <a href="/product" class="btn btn-primary">View Moduls</a>
              </div>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">stock_mass</a> / <a href="#">Stock</a>
                </h4>
                <h5>24.99 €</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <a href="/product" class="btn btn-primary">View Moduls</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">account_mass</a> / <a href="#">Account</a>
                </h4>
                <h5>200.99 €</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <a href="/product" class="btn btn-primary">View Moduls</a>
              </div>
            </div>
          </div>

          

      

        </div>
        <!-- /.row -->
        </div>

  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">About Me</h1>
          <p class="lead">Marlon Falcón Hernández, <a href="mailto:mfalconsoft@gmail.com">mfalconsoft@gmail.com</a></p>
          <p class="lead">Full Stack Developer - Odoo ERP, SAP MM, Javascript, MongoDB, Express, React, Node.Js, ES6,HTML & CSS.</p>
  </div>


  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Nodejs-cart</h1>
          <p class="lead">This Site is made with <a href="https://nodejs.org/en/">Node</a>, its name is <a href="https://github.com/falconsoft3d/nodejs-cart">Nodejs-cart</a> is a Open Source Apps, if you want you can download in my <a href="https://github.com/falconsoft3">Github</a>.</p>
  </div>
