<!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Categorys</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Sale</a>
          <a href="#" class="list-group-item">Account</a>
          <a href="#" class="list-group-item">Stock</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

      <div style="margin-top: 20px;"></div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">sale_mass</a> / <a href="#">Sale</a>
                </h4>
                <h5>24.99 €</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">View</button>
              </div>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">stock_mass</a> / <a href="#">Stock</a>
                </h4>
                <h5>24.99 €</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">View</button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">account_mass</a> / <a href="#">Account</a>
                </h4>
                <h5>200.99 €</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">View</button>
              </div>
            </div>
          </div>

      

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->